:root {
  --sidebar-width: 240px;
  --text-color: rgb(50, 50, 50);
  --background-color: #ffffff;
  --light-background-color: #f4f4f4;
  --nav-bar-color: #ffffff;
  --selected-color: rgb(229, 241, 253);
  --action-text-color: #ffffff;
  --action-color: rgb(58, 99, 197);
  --border-color: darkgray;
}

body {
  background-color: var(--background-color);
  margin: 0;
  font-family: Helvetica, Arial;
  font-size: 20px;
  height: auto;
  overflow: hidden;
}
#container {
  display: flex;
}
.left {
  display: flex;
  flex-direction: column;
  width: var(--sidebar-width); /* width: 240px; */
}

.topL {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--border-color);
  border-top: 2px solid var(--border-color);
}
.bottomL {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.search {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px dotted black;
}
.note_list {
  display: flex;
  flex-direction: column;
  overflow: auto;
  border: 2px solid darkgray;
  background: #eeeeee;
  border-radius: 7px;
  pointer-events: none;
  cursor: pointer;
}

.note_container {
  height: 40px;
  width: auto;
  border-bottom: 2px dotted black;
  padding: 2px;
  cursor: pointer;
}
.note_container:hover {
  background-color: lightgray;
}
.selected_note {
  background-color: rgb(200, 220, 228);
  font-weight: bold;
  border-bottom: 2px dotted black;
}
.note_preview {
  padding: 5px;
  padding-bottom: 0px;
  font-size: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.note_date {
  padding: 5px;
  padding-top: 0px;
  color: #aaaaaa;
  font-style: italic;
  text-align: left;
  font-size: 12px;
}

.right {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.topR {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid darkgray;
  border-left: 2px solid darkgray;
  border-top: 2px solid darkgray;
}
.bottomR {
  border-left: 2px solid darkgray;
  flex: 1;
}

button,
input[type="submit"] {
  cursor: pointer;
  border: none;
  background-color: var(--background-color);
  padding: 0;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
button :hover {
  color: rgba(0, 0, 0, 0.2);
}

#back {
  display: none;
}
textarea {
  height: 690px;
  width: 100%;
  border: none;
  resize: none;
  font-size: large;
  overflow: visible;
  padding: 20px 10px 10px 10px;
  background-color: none;
}
textarea:focus,
input:focus {
  outline: none;
}
.tagArea {
  background: lightgray;
  border: none;
  position: fixed;
  overflow: visible;
  bottom: 0px;
  height: 30px;
  width: 90%;
  margin: 2px;
}
img {
  width: 30px;
  border-radius: 50%;
}
.topL .myNotes {
  margin-top: 10px;
  margin-bottom: 11px;
}
.no-active-note {
  text-align: center;
  border-left: 2px solid darkgray;
  height: 100%;
}
/* ///////////////////////////////Profile//////////////////////////////////////// */
.editContainer {
  padding: 10px;
  align-items: center;
}
.modal {
  /*팝업전체*/
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-top: 50px;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  /* 모달안에있는내용 */
  width: 420px;
  background-color: white;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  border-radius: 5%;
  align-items: center;
}

.p0 {
  display: flex;
  justify-content: space-between;
}
.p1,
.p3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.p2 {
  display: flex;
  flex-direction: column;
  margin: 20px 0 30px 0;
}
.save {
  background-size: 20px;
  background-color: rgb(59, 59, 218);
  border-radius: 5px;
  color: white;
  border: none;
  padding: 15px 32px;
}

/* These rules only apply if the window's max-width is 500px or less */
@media all and (max-width: 500px) {
  .logo {
    display: none;
  }
  #container {
    flex-direction: column-reverse;
  }
  #back {
    display: inline;
  }

  .modal {
    /*팝업전체*/
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 0px;
    background-color: rgba(256, 256, 256, 1);
  }
  .modal-content {
    /* 모달안에있는내용 */
    background-color: white;
    display: contents;
  }
  .editContainer {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 300px;
    overflow: hidden;
  }
}
